@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
}
/* header section degin start================================== */

.nav-bare {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 80%;
}
.logo {
  font-size: 2.5rem;
  font-weight: 900;
}
.nav-bare ul {
  display: flex;
}
.nav-bare ul li {
  margin: 20px;
}
.nav-bare ul li a {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.right-button {
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: #ddd;
}
.right-button a {
  color: #0d1321;
}
.button-me {
  background-color: #0d1321;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 5px;
}
.right-button:hover {
  background-color: white;
  border: 2px solid #ddd;
}
.header-contants {
  height: 550px;
  background-image: url(assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.header-conten {
  height: 520px;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
}
.header-conten h2 {
  font-size: 35px;
  font-weight: 800;
}
.header-conten p {
  padding-top: 10px;
  font-size: 20px;
}
.header-bitton {
  margin-top: 10px;
  padding: 10px 25px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  font-size: 20px;
  color: #fff;
  border: none;
}
/* header section degin end================================== */

/* main section degin start heare============================= */
.main-section {
  width: 80%;
  margin: 40px auto;
  background: rgba(13, 19, 33, 0.02);
  border-radius: 16px;
}
.main-content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.main-content h2 {
  padding-bottom: 20px;
}
.main-content p {
  padding-bottom: 16px;
}
.content {
  width: 100%;
  margin: 10px auto;
  height: 250px;
}
.scild-content {
  padding-top: 150px;
  padding: 10px 30px;
  background-color: #fff;
  margin: 5px;
}
.scild-content h3 {
  padding-bottom: 20px;
}
.scild-content p {
  padding-bottom: 20px;
}
.content h2 {
  font-size: 15px;
}
.parent-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.common-button {
  padding: 10px 25px;
  font-size: 20px;
  background-color: #ddd;
  border-radius: 5px;
  border: 2px solid transparent;
}
.common-button:hover {
  background-color: white;
  border: 2px solid #ddd;
}
.content-img {
  padding-left: 100px;
}
.My-Inspiration {
  width: 80%;
  margin: 0 auto;
}
.Inspiration-content {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.Inspiration-content h2 {
  font-size: 30px;
  padding: 20px;
}
.Inspiration-content p {
  font-size: 16px;
  padding: 0 0 20px 0;
}
.vedio {
  padding-top: 20px;
  height: 450px;
}
h3 {
  font-size: 20px;
  padding-bottom: 20px;
}
.Current-main-section {
  width: 80%;

  margin: 0 auto;
  padding: 20px;
}

.Current-header {
  text-align: center;
  padding: 30px;
}
.Current-contents {
  display: flex;
}
.Current-header h2 {
  padding-bottom: 20px;
}
.current-target-content {
  height: 250px;
  padding: 30px;
  margin: 5px;
}
.current-target-content,
img,
h3,
p {
  padding-bottom: 20px;
}
.all-contrnt {
  font-size: 16px;
  color: #000;
  text-decoration: underline;
}
.div0 {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
.div1 {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.div2 {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
/* next-target section degin start=============================== */

/* next-target section degin end=============================== */

.next-target-heading {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.next-target-heading h2 {
  padding-bottom: 20px;
}
.next-target-content {
  margin: 30px auto;

  width: 80%;
}
.Target-contrt {
  width: 100%;
  margin: 20px auto;
  display: flex;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
}
.Target-contrt img {
  margin: 50px;
}
#contents {
  margin: 50px;
  width: 60%;
}
.input-section {
  text-align: center;
  padding: 70px 50px 50px 50px;
  background-image: url(assets/handshake.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 300px;
  border-radius: 5px;
}
.label {
  width: 500px;
  height: 50px;
  padding: 10px;
  border: none;
}
.submit {
  padding: 15px 30px;
}
/* footer section degin===================================== */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 130px 15px 130px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  align-items: center;
  text-align: center;
}
/* footer section degin===================================== */
/* main section degin end heare============================= */
